body {
    color: #ffffff;
    background-color: #36393f;
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .content {
    max-width: 90%;
    width: 600px;
    padding: 5%;
    background-color: #2f3136;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  .input-container {
    margin-bottom: 20px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444;
    color: #ffffff;
  }
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #7289da;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #677bc4;
  }
  .back-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #7289da;
    border: 1px solid #7289da;
    border-radius: 4px;
    cursor: pointer;
  }
  .back-button:hover {
    background-color: #7289da;
    color: #ffffff;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #36393f;
    }
    .content {
      background-color: #2f3136;
    }
    input[type="text"],
    textarea {
      background-color: #444;
    }
  }